<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="{{ url_for('static', filename='styling/style.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Savage Digital</title>
</head>
<body >
	<div class="sitewrapper">

		<section class="navifation_container">
			<nav>
				<h2 class="nav_name"></h2>
				<a href="/Projects">Projects</a>
				<a href="/">Home</a>
			</nav>
		</section>

		<header class="header">
		  <a href="" class="logo">Robert Savage</a>
		  <input class="menu-btn" type="checkbox" id="menu-btn" />
		  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		  <ul class="menu">
		    <li><a href="/">Home</a></li>
		    <li><a href="/Projects">Portfolio</a></li>
		  </ul>
		</header>


		<section class="what_am_i">

			<h1><span class="typed"></span></h1>

			<div class="profile_pic_container">
				<img class="profile_pic" src="{{url_for('static', filename='mw cropped.png')}}">
			</div>

			<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
			<script>
			  var typed = new Typed('.typed', {
			    strings: ["Robert Savage"],
			    typeSpeed:70,
			    backSpeed:0,
			    startDelay: 60,
			    backDelay: 5000,
			    loop: false
			  });
			</script>
			
			<p>Developer. Data Analist. IT & Operations Specalist.</p>

			<a class="view_work_button" href="static/Robert Savgae Resume.pdf" download>Resume</a>
			<div class="socials">
				<a href="https://github.com/RobertSavage">
					<img class="github" src="{{url_for('static', filename='github.png')}}">
				</a>
				<a href="https://www.linkedin.com/in/robertesavage">
					<img class="linkedin" src="{{url_for('static', filename='linkedin.png')}}">
				</a>
			</div>

			<div class="x_svg">
				<?xml version="1.0" standalone="no"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
				 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
				 width="109.000000pt" height="109.000000pt" viewBox="0 0 109.000000 109.000000"
				 preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,109.000000) scale(0.100000,-0.100000)"
				fill="#6246D4" stroke="none">
				<path d="M112 977 c-61 -62 -112 -117 -112 -122 0 -6 68 -78 150 -160 l150
				-150 -150 -150 c-82 -83 -150 -155 -150 -160 0 -13 222 -235 235 -235 5 0 77
				68 160 150 l150 150 150 -150 c82 -82 154 -150 160 -150 13 0 235 222 235 235
				0 6 -68 78 -150 160 l-150 150 150 150 c82 83 150 155 150 160 0 13 -222 235
				-235 235 -6 0 -78 -68 -160 -150 l-150 -150 -150 150 c-83 82 -155 150 -160
				150 -6 0 -61 -51 -123 -113z"/>
				</g>
				</svg>
			</div>

			<div class="circles_svg">
				<div class="circle1">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle2">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle3">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle4">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle5">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle6">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle7">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle8">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle9">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle10">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle11">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
				<div class="circle12">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					  <circle cx="10" cy="10" r="10" fill="#ffffff"/>
					</svg>
				</div>
			</div>
		</section>

		<section class="Svg_wrapper">
			<div class="svg1">
				<?xml version="1.0" standalone="no"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
				 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
				 viewBox="0 0 1440.000000 182.000000"
				 preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,182.000000) scale(0.100000,-0.100000)"
				fill="#6246D4" stroke="none">
				<path d="M1580 1813 c-332 -14 -612 -29 -1050 -59 -283 -18 -518 -34 -522 -34
				-5 0 -8 -387 -8 -860 l0 -860 7200 0 7200 0 -2 737 -3 738 -470 32 c-916 61
				-1437 83 -2020 83 -811 0 -1245 -30 -2445 -170 -1059 -123 -1416 -150 -1979
				-150 -629 0 -1067 45 -2051 211 -261 44 -605 102 -765 129 -694 117 -1185 173
				-1760 200 -182 9 -1141 11 -1325 3z"/>
				</g>
				</svg>
			</div>

			<div class="bottom_svg">
				<?xml version="1.0" standalone="no"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
				 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
				 viewBox="0 0 1440.000000 222.000000"
				 preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,222.000000) scale(0.100000,-0.100000)"
				fill="#6246D4" stroke="none">
				<path d="M0 1110 c0 -611 2 -1110 5 -1110 3 0 224 107 492 239 269 131 565
				273 658 314 657 291 1198 453 1760 528 227 31 696 34 900 6 404 -56 729 -140
				1540 -402 729 -235 1066 -320 1470 -371 194 -25 559 -25 750 0 443 56 721 130
				1650 441 801 268 1042 337 1382 395 790 135 1643 37 2683 -310 199 -66 923
				-328 1093 -395 16 -7 17 39 17 884 l0 891 -7200 0 -7200 0 0 -1110z"/>
				</g>
				</svg>
			</div>

		</section>


	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
	<script src="{{url_for('static', filename='scipt.js')}}"></script>



</body>
</html>
