<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet"  href="{{ url_for('static', filename='styling/Projects_style.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
	
	<div class="sitewrapper">

		<section class="navifation_container">
			<nav>
				<h2 class="nav_name"></h2>
				<a href="/Projects">Projects</a>
				<a href="/">Home</a>
			</nav>
		</section>

		<img src="{{ url_for('static', filename='v7.png')}}" class="X_decoration">
		<div class="circles_svg">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e1_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e2_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e3_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e4_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e5_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e6_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e7_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e8_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e9_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e10_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e11_decoration">
			<img src="{{ url_for('static', filename='Ellipse 31.png')}}" class="e12_decoration">
		</div>
	

		<section class="websites projectSections">
			<h1 class="sectionHeader">Websites</h1>

			<div class="card shipwrecked">
				<h1 class="cardHeader">Shipwrecked Tiki Bar</h1>
				<p>I created a captivating Tiki bar website, handling the layout and design from start to finish. Inspired by the lively Tiki culture, I crafted an engaging user experience with vibrant colors, playful fonts, and authentic imagery. The site is fully responsive across all devices, showcasing my blend of creativity and technical skills. Enjoy the enchanting realm of my Tiki bar website!</p>
				<img src="{{ url_for('static', filename='shipwrecked.png')}}">
				<div class="buttonBox">	
					<a href="https://www.shipwreckedtikibar.com">View Website</a>
				</div>
			</div>

			<div class="card uobEmployeePortal">
				<h1 class="cardHeader">UoB Employee Portal</h1>
				<p>With a new, more secure login system, our employees can access the site with ease and confidence. Additionally, the tedious tasks we once did in the office are now automated, with scheduled scripts and APIs that provide easy-to-read reports right on the website.</p>
				<img src="{{ url_for('static', filename='menuwebsites/employeePortal.png')}}">
				<div class="buttonBox">	
					
					<a class="" href="/uob-employee-portal">Contributions</a>
				</div>

			</div>

			<div class="card uobMenuWebsites">
				<h1 class="cardHeader">UoB Menu Website</h1>
				<p>After my work, the site is now more accessible for our older audience, with easier navigation and a simpler layout. Additionally, we've improved the load time of our menu, making for a faster and more user-friendly experience.</p>
				<img src="{{ url_for('static', filename='menuwebsites/landingmenu.png')}}">
				<div class="buttonBox">	
					<a href="https://www.uobfolsommenu.com">View Website</a>
					<a class="buttonTwo" href="/uob-menu-websites">Contributions</a>
				</div>

			</div>

			<div class="card uobWebsiteCard">
				<h1 class="cardHeader">UoB Website</h1>
				<p>I am proud to have made significant improvements to our site's SEO, ensuring it's easily found by search engines. Additionally, I created new pages to provide our visitors with even more valuable information about our business.</p>
				<img src="{{ url_for('static', filename='menuwebsites/mainWebsite.png')}}">
				<div class="buttonBox">	
					<a href="https://www.theuob.com">View Website</a>
					<a class="buttonTwo" href="/uob-website">Contributions</a>
				</div>

			</div>

			<div class="card animeWebsite">
				<h1 class="cardHeader">Anime Recomendation</h1>
				<p>Then you'll love our new anime recommendation website, created by our talented developer! With filters and search features that allow you to easily find a show that matches your interests, we've made it easier than ever to discover your next favorite anime. Thanks to our developer's hard work in gathering data from a popular database website, our recommendations are always up-to-date and on point.</p>
				<img src="{{ url_for('static', filename='anime_website.png')}}">
				<div class="buttonBox">	
					<a href="http://www.otakurec.com">View Website</a>
					<a class="buttonTwo" href="/anime-recomendation-website">Contributions</a>
				</div>

			</div>

		</section>


		<section class="bots projectSections">
			<h1 class="sectionHeader">Bots & AI</h1>
			
			<div class="cardContainer">
				<div class="cardBot card discordBotCard">
					<h1 class="cardHeader">Discord Bot</h1>
					<p>Introducing your Discord bot—a captivating text-based RPG experience. It utilizes MongoDB as the database backend for seamless gameplay. Enter a vibrant world, embark on epic adventures, level up characters, undertake quests, and engage in intense monster battles within treacherous dungeons. With customizable characters and unique abilities, players earn experience points by completing quests and defeating monsters. Leveling up enhances attributes and unlocks new skills. Employ strategic tactics in turn-based combat to conquer challenges within dungeons. </p>
					<div class="buttonBox">	
						<a class="buttonTwo" href="/Discord-Bot">View Project</a>
					</div>
				</div>

			</div>

		</section>


		<section class="dataProjcts projectSections">

			<h1 class="sectionHeader">Data</h1>
			
			<div class="cardContainerData">
				<div class="cardBot card researchData">
					<h1 class="cardHeader">Research Paper</h1>
					<p>The formation of phosphorous-containing polycyclic aromatic hydrocarbons (PAPHs) in astrophysical contexts is proposed and analyzed by means of computational methods [B3LYP-D3BJ/ma-def2-TZVPP, MP2-F12, CCSD-F12b and CCSD(T)-F12b levels of theory].</p>
					<div class="buttonBox">	
						<a href="https://pubs.rsc.org/en/content/articlelanding/2019/cp/c9cp00547a">View Website</a>
					</div>
				</div>
	
			</div>


		</section>


	</div>

</body>
</html>