<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="{{ url_for('static', filename='styling/uob-website.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <meta charset="utf-8" />

    <title></title>

</head>
<body>

	<div class="sitewrapper">

		<img src="{{ url_for('static', filename='v4.png')}}" class="decoration1">

		<img src="{{ url_for('static', filename='v7.png')}}" class="decoration2">

		<img src="{{ url_for('static', filename='v3.png')}}" class="decoration3">

		<img src="{{ url_for('static', filename='v4.png')}}" class="decoration4">

		<section class="navifation_container">
			<nav>
				<h2 class="nav_name"></h2>
				<a href="/Projects">Projects</a>
				<a href="/">Home</a>
			</nav>
		</section>

		<section class="headerSection">
			<h1 class="pageHeader">University of Beer Main Website</h1>
		</section>


		<section class="DesignUpdates section">

		
			<h2 class="sectionHeader FirstSection">Catering</h2>
			
			<span class="divider"></span>
			
			<img src="{{ url_for('static', filename='menuwebsites/catering.png')}}" class="designImage Image"></img>
			
			<div class="DesignWordingContainer wordingContainer">
				<p class="DesignUpdatesDescriptionOne wording">Initially, the catering page received approximately 64 views per month. However, with a few strategic changes, I was able to increase this number to roughly 219 views per month, resulting in a 237.5% increase in catering views.</p>
				<p class="DesignUpdatesDescriptionTwo wording">To achieve this, I made the catering page more prominent on the home page, making it easier for users to find and access. Additionally, I worked on improving the SEO of the catering page by incorporating relevant keywords and optimizing the meta tags and descriptions. Through my efforts, the catering page received better visibility on search engine result pages, resulting in an increase in organic traffic. By analyzing the website's analytics, I was able to track the increase in views and the subsequent improvement in business for the catering service.</p>
			</div>
	
		</section>
	
		<section class="GuidingCustomerExperiense section">
		
			<h2 class="sectionHeader">Events</h2>

			<span class="divider"></span>

			<img src="{{ url_for('static', filename='menuwebsites/events.png')}}" class="ExperienceImage Image"></img>

			<div class="ExperienceWordingContainer wordingContainer">
				<p >During my time with this company, I was tasked with creating a new website that would better represent their brand and provide a more user-friendly experience for their customers.</p>
			
				<p><br>Through my efforts, I was able to design a website that effectively conveyed the company's values, mission, and services, resulting in increased brand awareness and customer engagement. I also optimized the website's search engine optimization (SEO), which resulted in improved visibility on search engine result pages and increased organic traffic to the site. The success of this project not only delivered measurable results for the company but also allowed me to further develop my skills as a web developer. I am proud to have been a part of this project and to have contributed to the company's growth and success.</p>
			</div>

		</section>

		<section class="ImpovingLoadingSpeeds section">
		
			<h2 class="sectionHeader">Locations</h2>

			<span class="divider"></span>

			<img src="{{ url_for('static', filename='menuwebsites/locations.png')}}" class="loadingImage Image"></img>

			<div class="LoadingWordingContainer wordingContainer">
			<p>During my time as a web developer for a rapidly growing company, I had the opportunity to create a new locations page that better corresponded with the company's expansion. The previous locations page was not keeping up with the rapid growth, and it was necessary to create a more design-friendly page that catered to the company's increasing number of locations.</p>

			<p><br>To achieve this goal, I implemented a nearby search feature that made it easy for customers to find the nearest location to them. Additionally, I ensured that the design of the page was consistent and visually appealing, with no elements out of alignment. By creating this new locations page, I was able to deliver a solution that not only catered to the company's current needs but also allowed for future expansion. The success of this project was a testament to my skills as a web developer and my ability to deliver solutions that meet the needs of a rapidly growing company.</p>

		</section>

		

		
	</div>
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>

</body>
</html>